<footer op-60 text-sm text-slate>
  <p></p>
  <hr class="mt-2 bg-slate-5 bg-op-15 border-none h-1px" />

  <div>使用说明：</div>
  <div>（1）邀请码：<span text-slate-100 hover:text-slate-3>添加微信：AetaBeta获取</span></div>

  <div>
    （2）APIKEY默认由Naxau提供。也可添加自己的API<span px-1>|</span>
    <a href="https://www.naxau.com/" target="_blank" hover:text-slate-3>了解更多</a>
  </div>
  <div>
    （3）角色设定，参考
    <a hover:text-slate-3 href="https://github.com/fangling123/chatgpt0307/blob/main/src/prompts.ts" target="_blank">
      这里</a
    >
    。其他设置自行调节。
  </div>
</footer>
